.projectDetailsContainer {
  display: flex;
  min-height: 100vh;
  padding: 30px 60px;
  background-color: VAR(--primary);
  align-items: flex-start;
  justify-content: center;
}

.content {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 14px 60px;
  border-radius: 5px;
}

.content > p {
  text-align: center;
}

.projectHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectHeader > h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.projectHeader > a:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 5px;
  padding: 0 5px;
}

.launchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.imgContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33.5px;
}

.projectImg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}

.technologiesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.technology {
  padding: 10px 18px;
  color: var(--primary)
}

@media only screen and (max-width: 768px) {
  .projectDetailsContainer {
    padding: 30px 20px;
  }

  .content {
    padding: 14px 30px;
  }

  .projectHeader {
    text-align: center;
  }

  .projectHeader > h1 {
    font-size: 40px;
    word-break: break-word;
    hyphens: auto;
  }

  p {
    font-size: .9rem;
  }

  .technology {
    padding: 10px 22px;
  }

}

