.resumeContainer {
  display: flex;
  min-height: 100vh;
  padding: 30px 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link {
  margin-bottom: 30px;
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .resumeContainer {
    padding: 30px 10px;
  }
  
  embed {
    /* max-width: max-content; */
    width: 100%;
  }
}