.homeContainer {
  display: flex;
  min-height: 100vh;
}

.text {
  background-color: var(--primary);
  width: 70%;
  padding: 14px 60px;
}

.text > h1 {
  color: var(--secondary);
  font-size: 50px;
}

.text > p {
  color: white;
}

.profile {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  background: var(--secondary);
  width: 30%;
  padding-top: 15px;
  
}

.profile > img {
  width: 80%;
  border-radius: 5px;
  box-shadow: 10px 10px 0px 1px var(--primary);
  margin-top: 41.5px;
}